libXML++/libxml++/examples/dom_parser/example.dtd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
DTD for libxml++ example.
-->

<!ELEMENT example (examplechild | examplechildtext)+ >

<!ELEMENT examplechild (child_of_child)+ >
<!ATTLIST examplechild
  id    CDATA	#REQUIRED
  title CDATA "No title"
>

<!ELEMENT child_of_child EMPTY >

<!ELEMENT examplechildtext (#PCDATA) >
